# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!.gitconfig
!.zshrc
!.zshenv
!.zplugrc
!.tmux.conf

# Explicitly allow specific directories and their contents
!.config/setup/
!.config/setup/**
!.config/shell/
!.config/shell/**
!.config/shell/lib/
!.config/shell/lib/**
!.config/shell/db/
!.config/shell/db/**
!.config/
!.config/helix/
!.config/helix/**
!.config/mods/
!.config/mods/**
!.config/yazi/
!.config/yazi/**
!.config/direnv/
!.config/direnv/**
!.config/serpl/
!.config/serpl/**
!.config/zellij/
!.config/zellij/**
!.config/bat/
!.config/bat/**
!.config/wget/
!.config/wget/**
!.config/zplug/
!.config/zplug/**
!.config/ssh/
!.config/ssh/**
!.config/git/
!.config/git/**
!.config/p10k/
!.config/p10k/**
!.config/motd/
!.config/motd/**

# Explicitly allow specific files in .config subdirectories
!.config/vale/
!.config/vale/.vale.ini
!.config/mods/mods.yml

# Git secret related
!.gitsecret/
!.gitsecret/**
!*.secret
.gitsecret/keys/random_seed
