[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
Documentation=https://docs.syncthing.net/
After=network.target

[Service]
User=adrian
Environment=STCONFIGDIR=%h/.config/syncthing
Environment=STSTATEDIR=%h/.local/state/syncthing
ExecStart=/usr/bin/syncthing -no-browser
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

